<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>schedule-easy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style_refined.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid root">
        <!-- Navbar -->
        <nav class="navbar border-bottom border-grey border-2">
            <div class="container-fluid">
            <a class="navbar-brand " href="/home.html">
                <img src="../static/clock.png" alt="Logo" width="40" height="35" class="d-inline-block align-text-top">
                Schedule Easy
            </a>
            <!-- <a href="main.html" class="btn btn-primary d-flex text-white" role="button">Get Started</a> -->
            </div>
        </nav>
        <!-- Main Content -->
        <div class="container height-content pt-4">
            <!--Details-->
            <div class="container content-item row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="row title fs-1 fw-bold lh-1 pd-1 mb-3">
                            Seamless Integration <br> with Calendar
                        </div>
                        <div class="row text-data mb-4">
                            Our app integrates with your online Calendar to make scheduling easy.
                            Simply plan your schedule in an Excel spreadsheet and upload it to our app to sync with your calendar.
                        </div>
                    </div>
                <!--Identity Providers for Login-->
                <!--Google: https://developers.google.com/identity/branding-guidelines-->
                    <div class="identity-fields m-1">
                        <button class="gsi-material-button" id="login" type="button" onclick="">
                        <div class="gsi-material-button-state"></div>
                        <div class="gsi-material-button-content-wrapper">
                            <div class="gsi-material-button-icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                                <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                                <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                                <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                                <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                                <path fill="none" d="M0 0h48v48H0z"></path>
                            </svg>
                            </div>
                            <span class="gsi-material-button-contents">Continue with Google</span>
                            <span style="display: none;">Continue with Google</span>
                        </div>
                        </button>
                    </div>
                </div>
            <!--Video-->
                <div class="container col-12 col-sm-12 col-md-6 col-lg-6 content-item">
                    <iframe class="youtube-player" width="560" height="315" src="https://www.youtube.com/embed/BuLod1VvR-Q?si=8Nm5vMid6E5l-RNh&autoplay=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay mute;clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- Steps-->
        <div class="row container-fluid height-steps">
            <div class="container col-12 col-sm-12 col-md-4 col-lg-4 step-item">
                <div class="bg-transparent text-center">
                    <img src="../static/downloads.png" class="card-img-top pb-2" alt="download icon" style="width:3rem;">
                    <div class="card-body">
                        <h5 class="card-title">Download Template</h5>
                        <p class="card-text">Download the template and plan your events</p>
                    </div>
                </div>
            </div>
            <div class="container col-12 col-sm-12 col-md-4 col-lg-4 step-item">
                <div class="bg-transparent text-center">
                    <img src="../static/upload.png" class="card-img-top pb-2" alt="upload icon" style="width:3rem;">
                    <div class="card-body ">
                        <h5 class="card-title">Upload Spreadsheet</h5>
                        <p class="card-text">Upload the spreadsheets with your plan</p>
                    </div>
                </div>
            </div>
            <div class="container col-12 col-sm-12 col-md-4 col-lg-4 step-item">
                <div class="bg-transparent text-center">
                    <img src="../static/schedule.png" class="card-img-top pb-2" alt="online calendar" style="width:3rem;">
                    <div class="card-body ">
                        <h5 class="card-title">Sync with Calendar</h5>
                        <p class="card-text">Your plans will be seamlessly synced into your online calendar</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="container-fluid height-footer footer ">
            <footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
              <p class="col-md-4 mb-0 text-secondary">© 2024 Schedule Easy</p>
              <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              </a>
              <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">About</a></li>
              </ul>
            </footer>
          </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        document.getElementById("login").onclick = function () {
            location.href = "/login";
        };
    </script>
</body>
</html>